@charset "UTF-8";
@import '/registration/dark.scss';
body {
	background-color: black;
	color: white;
}

body{
	background:
		/* top, transparent black, faked with gradient */
			linear-gradient(
					rgba(0, 0, 0, 0.85),
					rgba(0, 0, 0, 0.85)
			);

	color: white;
}

label { color: #eeeeee }
label:hover { color: #db778d }

text { color: #eeeeee }
text:hover { color: #db778d }

th { color: #eeeeee }
th:hover { color: #db778d }

button {
	display:inline-block;
	padding:0.46em 1.6em;
	border:0.1em solid #eeeeee;
	margin:0 0.2em 0.2em 0;
	border-radius:0.12em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Britannic Bold',sans-serif;
	font-weight:300;
	color:#eeeeee;
	text-shadow: 0 0.04em 0.04em rgba(0,0,0,0);
	background-color:rgba(0, 0, 0, 0);
	text-align:center;
	transition: all 0.15s;
}

button:hover{
	text-shadow: 0 0 2em rgba(0, 0, 0, 1);
	color:rgba(0, 0, 0, 0.8);
	border-color:rgba(0, 0, 0, 0.8);
	background-color: #db778d;
	font-family:'Bauhaus 93',sans-serif;
}
@media all and (max-width:30em){
	button{
		display:block;
		margin:0.4em auto;
	}
}

.bouncy{
	animation:bouncy 5s infinite linear; position:relative;
}

@keyframes bouncy {
	0%{top:0}
	40%{top:0}
	43%{top:-0.5em}
	46%{top:0}
	48%{top:-0.2em}
	50%{top:0}
	100%{top:0;}
}

.wrapper {
	text-align: center;
}